.ten24-container {
  width: 100%;
}

.ten24-container .ten24-board, .authentication-folder-container {
  position: relative;
  left: 50%;
  margin-left: -250px;
}

body {
  background-color: #579099;
}