.ten24-container {
  z-index: 0;
  position: relative;
}
.document-menu-container {
  z-index: 1;
  position: relative;
}


.ten24-container .ten24-board, .document-menu-container .document-menu-inner {
  position: relative;
  left: 50%;
  margin-left: -250px;
  touch-action: none;
}


body {
  background-color: #579099;
  margin-top: 0px;
  padding-top: 0px;
}