.ten24-container {
  width: 100%;
}

.title {
  width: fit-content;
  margin-bottom: 80px;
  padding-left: 1.4em;
  font-family: Garamond;
  font-size: 1.8em;
  font-color: black;
}

.ten24-container .ten24-board, .title {
  position: relative;
  left: 50%;
  margin-left: -250px;
  touch-action: none;
}


body {
  background-color: #579099;
}