$separator-color: bisque;
$page-color: white;

$board-length: 500px; /*[!] taken from Ten24Board.css*/

.document-menu {
  margin-bottom: 2em;
}

.document-menu-inner {
  width: $board-length;
}

.page {
  height: 200px;
  background-color: $page-color
}


$separator-tab-height: 1.5em;
.separator {
  font-size: 1em;
}
.separator-body {
  background-color: $separator-color;
  padding-bottom: 0.6em;
  padding-left: 0.6em;
  padding-right: 0.6em;
}
.separator-tab {
  height: $separator-tab-height;
}
.separator .separator-tab-name {
  float: left;
  width: fit-content;
  height: 1.5em;
  max-width: calc(100% - 1.5em);

  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  background-color: $separator-color;

  padding-left: 1em;
  padding-right: 1em;
}
.separator .separator-tab-detail {
  height: 0px;
  width: 0px;
  float: left;

  border-top: 1.5em solid $separator-color;
  border-right: 1.5em solid transparent; 
}


$page-marker-height: 80px;

.invis {
  visibility: hidden;
}

.page-marker {
  width: $page-marker-height;
  height: $page-marker-height;
  float: right;
  margin: 0.5em;

  user-select: none;
  margin-top: calc(0.2em - #{$separator-tab-height} - #{$page-marker-height}/2);
}

.page-marker-transparent {
  height: 50%;
  width: 100%;
  background-color: rgba(200, 200, 200, 0.3);
}
.page-marker-name {
  height: 50%;
  width: 100%;
  background-color: seagreen;

  font-size: 1em;


  line-height: $page-marker-height/2;
  text-align: center;
}