.ten24-board {
  height: 500px;
  width: 500px;
}

/* old gridlayer using grid (doesn't animate very well)
.ten24-grid-layer {
  height: 92%;
  width: 92%;
  margin: 4%;
  position: absolute;

  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  gap: 4.347826%;
}
*/

.ten24-board-layer {
  height: 100%;
  width: 100%;
  position: absolute;
}

.ten24-board-background-layer {
  position: absolute;
  height: 100%;
  width: 100%;

  border-radius: 1rem;
  background: chocolate;
}

.ten24-cell {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 1rem;
}

.ten24-board-empty-cell-layer {}
.ten24-board-empty-cell-layer > .ten24-cell {
  background: bisque;
}

.ten24-board-numbers-layer {}
.ten24-board-numbers-layer > .ten24-cell {
  background: black;
}

.ten24-col-0 {
  left: 20px;
}
.ten24-col-1 {
  left: 140px;
}
.ten24-col-2 {
  left: 260px;
}
.ten24-col-3 {
  left: 380px;
}

.ten24-row-0 {
  top: 20px;
}
.ten24-row-1 {
  top: 140px;
}
.ten24-row-2 {
  top: 260px;
}
.ten24-row-3 {
  top: 380px;
}

.sliding {
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.slide-left-1 {
  animation-name: slide-left-1;
  animation-duration: calc(0.5s/3);
}
.slide-left-2 {
  animation-name: slide-left-2;
  animation-duration: calc((0.5s/3)*2);
}
.slide-left-3 {
  animation-name: slide-left-3;
  animation-duration: calc(0.5s/1);
}
.slide-right-1 {
  animation-name: slide-right-1;
  animation-duration: calc(0.5s/3);
}
.slide-right-2 {
  animation-name: slide-right-2;
  animation-duration: calc((0.5s/3)*2);
}
.slide-right-3 {
  animation-name: slide-right-3;
  animation-duration: calc(0.5s/1);
}
.slide-up-1 {
  animation-name: slide-up-1;
  animation-duration: calc(0.5s/3);
}
.slide-up-2 {
  animation-name: slide-up-2;
  animation-duration: calc((0.5s/3)*2);
}
.slide-up-3 {
  animation-name: slide-up-3;
  animation-duration: calc(0.5s/1);
}
.slide-down-1 {
  animation-name: slide-down-1;
  animation-duration: calc(0.5s/3);
}
.slide-down-2 {
  animation-name: slide-down-2;
  animation-duration: calc((0.5s/3)*2);
}
.slide-down-3 {
  animation-name: slide-down-3;
  animation-duration: calc(0.5s/1);
}
@keyframes slide-left-1 {
  to {
    transform: translate(calc(-120px * 1), 0);
  }
}
@keyframes slide-left-2 {
  to {
    transform: translate(calc(-120px * 2), 0);
  }
}
@keyframes slide-left-3 {
  to {
    transform: translate(calc(-120px * 3), 0);
  }
}
@keyframes slide-right-1 {
  to {
    transform: translate(calc(120px * 1), 0);
  }
}
@keyframes slide-right-2 {
  to {
    transform: translate(calc(120px * 2), 0);
  }
}
@keyframes slide-right-3 {
  to {
    transform: translate(calc(120px * 3), 0);
  }
}
@keyframes slide-up-1 {
  to {
    transform: translate(0, calc(-120px * 1));
  }
}
@keyframes slide-up-2 {
  to {
    transform: translate(0, calc(-120px * 2));
  }
}
@keyframes slide-up-3 {
  to {
    transform: translate(0, calc(-120px * 3));
  }
}
@keyframes slide-down-1 {
  to {
    transform: translate(0, calc(120px * 1));
  }
}
@keyframes slide-down-2 {
  to {
    transform: translate(0, calc(120px * 2));
  }
}
@keyframes slide-down-3 {
  to {
    transform: translate(0, calc(120px * 3));
  }
}