/* assumes a 4x4 board */

/* sizes */
$board-length: 500px;
$cell-length: $board-length / 5;
$cell-gap: $board-length / 5 / 5;

/* animation timing */
$base-sliding-duration: 200ms;
$base-combining-duration: 200ms;
$base-creating-duration: 200ms;
$base-animation-duration: $base-sliding-duration + $base-combining-duration;

$slide-1-duration: $base-sliding-duration * 1 / 3;
$slide-2-duration: $base-sliding-duration * 2 / 3;
$slide-3-duration: $base-sliding-duration * 3 / 3;

.ten24-board {
  height: $board-length;
  width: $board-length;
  outline:none;
}

/* old gridlayer using grid (doesn't animate very well)
.ten24-grid-layer {
  height: 92%;
  width: 92%;
  margin: 4%;
  position: absolute;

  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  gap: 4.347826%;
}
*/

.ten24-board-layer {
  height: 100%;
  width: 100%;
  position: absolute;
}

.ten24-board-background-layer {
  position: absolute;
  height: 100%;
  width: 100%;

  border-radius: 1rem;
  background: chocolate;
}

.ten24-cell {
  position: absolute;
  width: $cell-length;
  height: $cell-length;
  border-radius: 1rem;
  /*center number value on tile*/
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}

.ten24-cell.combined {
  z-index: 1;
}

.ten24-board-empty-cell-layer {}
.ten24-board-empty-cell-layer > .ten24-cell {
  background: bisque;
}

.ten24-board-numbers-layer {}
.ten24-board-numbers-layer > .ten24-cell {
  background: grey;
}

.ten24-col-0 {
  left: $cell-length * 0 + $cell-gap * 0 + $cell-gap;
}
.ten24-col-1 {
  left: $cell-length * 1 + $cell-gap * 1 + $cell-gap;
}
.ten24-col-2 {
  left: $cell-length * 2 + $cell-gap * 2 + $cell-gap;
}
.ten24-col-3 {
  left: $cell-length * 3 + $cell-gap * 3 + $cell-gap;
}

.ten24-row-0 {
  top: $cell-length * 0 + $cell-gap * 0 + $cell-gap;
}
.ten24-row-1 {
  top: $cell-length * 1 + $cell-gap * 1 + $cell-gap;
}
.ten24-row-2 {
  top: $cell-length * 2 + $cell-gap * 2 + $cell-gap;
}
.ten24-row-3 {
  top: $cell-length * 3 + $cell-gap * 3 + $cell-gap;
}

.sliding {
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
.slide-from-l-1 {
  animation-name: slide-from-left-1;
  animation-duration: $slide-1-duration;
}
.slide-from-l-2 {
  animation-name: slide-from-left-2;
  animation-duration: $slide-2-duration;
}
.slide-from-l-3 {
  animation-name: slide-from-left-3;
  animation-duration: $slide-3-duration;
}
.slide-from-r-1 {
  animation-name: slide-from-right-1;
  animation-duration: $slide-1-duration;
}
.slide-from-r-2 {
  animation-name: slide-from-right-2;
  animation-duration: $slide-2-duration;
}
.slide-from-r-3 {
  animation-name: slide-from-right-3;
  animation-duration: $slide-3-duration;
}
.slide-from-u-1 {
  animation-name: slide-from-up-1;
  animation-duration: $slide-1-duration;
}
.slide-from-u-2 {
  animation-name: slide-from-up-2;
  animation-duration: $slide-2-duration;
}
.slide-from-u-3 {
  animation-name: slide-from-up-3;
  animation-duration: $slide-3-duration;
}
.slide-from-d-1 {
  animation-name: slide-from-down-1;
  animation-duration: $slide-1-duration;
}
.slide-from-d-2 {
  animation-name: slide-from-down-2;
  animation-duration: $slide-2-duration;
}
.slide-from-d-3 {
  animation-name: slide-from-down-3;
  animation-duration: $slide-3-duration;
}
@keyframes slide-from-left-1 {
  from {
    transform: translate(($cell-length + $cell-gap) * 1, 0);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes slide-from-left-2 {
  from {
    transform: translate(($cell-length + $cell-gap) * 2, 0);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes slide-from-left-3 {
  from {
    transform: translate(($cell-length + $cell-gap) * 3, 0);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes slide-from-right-1 {
  from {
    transform: translate(-($cell-length + $cell-gap) * 1, 0);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes slide-from-right-2 {
  from {
    transform: translate(-($cell-length + $cell-gap) * 2, 0);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes slide-from-right-3 {
  from {
    transform: translate(-($cell-length + $cell-gap) * 3, 0);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes slide-from-up-1 {
  from {
    transform: translate(0, ($cell-length + $cell-gap) * 1);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes slide-from-up-2 {
  from {
    transform: translate(0, ($cell-length + $cell-gap) * 2);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes slide-from-up-3 {
  from {
    transform: translate(0, ($cell-length + $cell-gap) * 3);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes slide-from-down-1 {
  from {
    transform: translate(0, -($cell-length + $cell-gap) * 1);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes slide-from-down-2 {
  from {
    transform: translate(0, -($cell-length + $cell-gap) * 2);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes slide-from-down-3 {
  from {
    transform: translate(0, -($cell-length + $cell-gap) * 3);
  }
  to {
    transform: translate(0, 0);
  }
}

.ten24-cell.created {
  opacity: 0;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-name: created;
  animation-duration: $base-creating-duration;
}

@keyframes created {
  0% {
    opacity: 1;
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

.ten24-cell.combined {
  z-index: 1;
  opacity: 0;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-name: combined;
  animation-duration: $base-combining-duration;
}

.ten24-cell.appear-delay-1 {
  animation-delay: ($base-sliding-duration / 3) * 1;
}

.ten24-cell.appear-delay-2 {
  animation-delay: ($base-sliding-duration / 3) * 2;
}

.ten24-cell.appear-delay-3 {
  animation-delay: ($base-sliding-duration / 3) * 3;
}

@keyframes combined {
  0% {
    opacity: 1;
  }
  50% {
    transform: scale(2, 2);
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}